body {
    background-image: url(images/waves.jpg);
    /*font-family: 'Amatic SC', cursive;
    font-family: 'Bangers', cursive;
    font-family: 'Blinker', sans-serif;
    font-family: 'Changa', sans-serif;
    font-family: 'Cormorant Unicase', serif;
    font-family: 'Poiret One', cursive;
    font-family: 'Quantico', sans-serif;
    font-family: 'Syne Mono', monospace; 
    font-family: 'Abel', sans-serif;
    font-family: 'Averia Serif Libre', cursive;
    font-family: 'Open Sans Condensed', sans-serif;*/
}

p {
    padding: 0px 50px 0px 50px;
    margin: 0px;
}

a {
    color: #325C74;
    text-decoration: none !important;
}

.navbar {
    font-family: 'Cormorant Unicase', serif;
    background-image: url(images/waves.jpg);
    color: lightcyan;
    outline-style: solid;
    outline-width: 0px 0px 0px 0px;
}

footer {
    border-style: solid;
    color: lightcyan;
    padding: 10px 100px 10px 10px;
    border-width: 10px 0px 0px 0px;
    position: fixed;
    text-align: right;
    width: 100%;
    bottom: 0px;
}

.links1 {
    font-family: 'Cormorant Unicase', serif;
    color: lightcyan;
    padding: 12px;
    margin: 50px;
    font-size: 20px;
    position: relative;
    transition: 1s;
}
.links1:hover {
    background-color: lightcyan;
    color: #325C74;
}

.links2 {
    font-family: 'Cormorant Unicase', serif;
    color: lightcyan;
    padding: 12px;
    font-size: 20px;
    position: relative;
    transition: 1s;
}

.links2:hover {
    background-color: lightcyan;
    color: #325C74;
}

h1 {
    padding: 50px 0px 10px 100px;
    color: lightcyan;
}

.col-md-4 {
    text-align: center;
    padding: 20px;
}

#edu {
    color: #325C74;
    font-style: bold;
    background-color: lightcyan;
    font-size: 20px;
    font-family: 'Syne Mono', monospace;
    margin: 20px;
    padding: 20px;
    width: 140px;
    border-radius: 25px;
    transition: 3s;
}

#edu:hover {
    background-color: black;
    width: 500px;
}

#work {
    color: #325C74;
    font-style: bold;
    background-color: lightcyan;
    font-size: 20px;
    font-family: 'Syne Mono', monospace;
    margin: 20px;
    background-color: #A4D3EE;
    padding: 20px;
    width: 85px;
    border-radius: 25px;
    transition: 3s;
}

#work:hover {
    background-color: black;
}

#skills {
    color: #325C74;
    font-style: bold;
    background-color: lightcyan;
    font-size: 20px;
    font-family: 'Syne Mono', monospace;
    background-color: lightskyblue;
    margin: 20px;
    padding: 20px;
    width: 105px;
    border-radius: 25px;
    transition: 3s;
}

#skills:hover {
    background-color: black;
}

#goals {
    color: #325C74;
    font-style: bold;
    background-color: lightcyan;
    font-size: 20px;
    font-family: 'Syne Mono', monospace;
    margin: 20px;
    background-color: darkgrey;
    padding: 20px;
    width: 100px;
    border-radius: 25px;
    transition: 3s;
}

#goals:hover {
    background-color: black;
}

#about {
    color: #325C74;
    font-style: bold;
    background-color: lightcyan;
    font-size: 18px;
    font-family: 'Abel', sans-serif;
    letter-spacing: 2px;
    padding: 25px;
    width: 800px;
    height: 500px;
    border-radius: 5px;
    transition: 3s;
    position: relative;
    left: -55px;
}

#portfolio {
    color: #325C74;
    font-style: bold;
    background-color: lightcyan;
    font-size: 20px;
    font-family: 'Quantico', sans-serif;
    margin: 10px;
    width: 400px;
    height: 400px;
    border-radius: 5px;
    transition: 3s;
    position: relative;
    left: -55px;
}

.links {
    font-family: 'Cormorant Unicase', serif;
    padding: 25px;
}

.icons {
    text-align: center;
    padding: 25px;
}
.icons-e {
    text-align: right;
    padding: 20px;
    font-family: 'Quantico', sans-serif;
}

.tab { margin-left: 40px;
}

.projects {
    position: relative;
    left: 30px;
    padding: 5px 20px 5px 20px;
    font-family: 'Quantico', sans-serif;
    color: #325C74;
    width: 350px;
    letter-spacing: 2px;
    font-size: 18px;
    transition: 1s;
}

.proj-head {
    font-family: 'Cormorant Unicase', serif;
    position: relative;
    left: 25px;
    font-size: 25px;
    padding: 10px;
}

#port-header {
    text-align: left;
    position: relative;
    font-size: 30px;
    float: left;
    top: -59px;
    height: 0px;
    left: 400px;
}
@media screen and (max-width: 630px) {
    .about {
        width: 100%;
    }
}