body {
    background-image: url(images/pink-sand.jpg);
}

a {
    font-size: 13px;
    color: #777777;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#image {
    margin: 15px;
}
.container1 {
    width: 630px;
    border-style: solid;
    border-color: pink;
    border-width: 0px;
    border-radius: 18px;
    background-color: rgb(27, 27, 27);
}
.container0 {
    width: 75%;
}

#cont-index {
    height: 600px;
}
#cont-port {
    height: 630px;
}
#portfolio {
    padding: 0px 8px 0px 8px;
    margin: 0px 8px 0px 8px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 0px 1px 0px 1px;
}


.about {
    border-style: solid;
    border-color: #dddddd;
    border-width: 0px; 
    width: 600px;
    padding: 10px;
    position: relative;
    height: 750px;
}

.clearfix {
    border-style: solid;
    border-color: #dddddd;
    border-width: 0px; 
    position: relative;
    width: 600px;
    height: 620px;
    overflow: auto;
}

.contact {
    border-style: solid;
    border-color: #dddddd;
    border-width: 0px; 
    position: relative;
    padding: 10px;
    width: 463px;
    height: 460px;
    overflow: auto;
}

#AboutMe {
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: royalblue;
    font-size: 20px;
    color:  lightskyblue;
    padding: 15px 0px 20px 0px;
    margin: 0px 10px 0px 10px;
}

.connect {
    border: 1px;
    border-style: solid;
    border-color: #dddddd;
    border-radius: 10px;
    border-width: 0px;
    width: 182px;
    height: 130px;
    padding: 10px;
    position: relative;
    top: 150px;
    background-color: lightcyan;
}

#connect {
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    padding: 10px 17px 12px 1px;
    margin: 0px 0px 11px 10px;
    float: left;
    font-size: 16px;
    color:  black;
    border-color: black
}

.icons {
    float: left;
    padding: 2px;
}
.icons1 {
    float: left;
    padding: 0px;
    bottom: 10px;
    height: 68px;
    right: 30px;
    background-color: lightskyblue;
}

#stack {
    float: left;
    position: relative;
    top: -5px;
    left: 5px;
    margin: 10px;
}

p {
    /*font-family: 'Slabo 27px', serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Crimson Text', serif;*/
    font-family: 'Source Serif Pro', serif; 
    color: ghostwhite;
    font-size: 16px;
    line-height: 150%;
    padding: 15px 10px 0px 10px;
    letter-spacing: 1px;
}

h1, h2, h3 {
    /*font-family: 'Fjalla One', sans-serif; */
    font-family: 'Cormorant Unicase', serif;
    /*font-family: 'Cabin Sketch', cursive; */
}

h4 {
    font-family:'Georgia', Times, "Times New Roman", serif;
    color: white;
}

.images {
    float: left;
    position: relative;
    top: 10px;
    width: 100%;
}

.words {
    position: absolute;
    top: 80px;
    border-style: dotted;
    border-width: 1px;
    border-color:royalblue;
    background-color: black;
    color: royalblue;
    font-family: 'Cormorant Unicase', serif;
    padding: 10px 0px 10px 0px;
    width: 100%;
    text-align: center;
    font-size: 15px;
}

.port-box {
    position: relative;
    float: left;
    border-style: dotted;
    border-width: 0px 1px 1px 1px;
    border-color:royalblue;
    height: 280px;
    width: 50%;
    padding: 5px;
}

.desc {
    position: absolute;
    float: left;
    width: 100%;
    top: 140px;
    right: 0px;
}
#desc {
    font-size: 14px;
    color: lavenderblush;
    text-align: center;
    padding: 5px;
}
.repos {
    position: absolute;
    top: 230px;
    width: 100%;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    text-align: center;
}
#repo {
    color: black;
    background-color: lavenderblush;
    padding: 5px;
    margin: 5px 10px 5px 0px;
}
input {
    position: absolute;
    left: 20px;
    width: 89%;
    padding: 6px;

}
#mess {
    height: 150px;
    position: absolute;
    left: 20px;
    width: 91%;
    border-color: #777777;
    text-align: left;
}

.formA {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 14px;
    line-height: 50%;
    padding: 10px 10px 0px 10px;
}

.formB {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 14px;
    line-height: 50%;
    padding: 25px 10px 0px 10px;
}

.submit {
    background-color: #4aaaa5;
    border: none;
    color: blanchedalmond;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    top: 395px;
    padding: 10px 0px 10px 0px;
    width: 20%;
}

.navbar-default {
    background-color: rgb(27, 27, 27);
    border-style: solid;
    border-image: url('image/persephone.jpg');
    border-width: 0px 0px 2px 0px;
    margin: 0px 0px 20px 0px;
    height: 65px;
}

.navbar-header {
    color: lightskyblue;
    width: 230px;
    text-align: center;
    padding: 0px 3px 0px 3px;
}

.navbar-fixed-bottom {
    background-color: #666666;
    text-align: center;
    border-style: solid;
    border-width: 4px 0px 0px 0px;
    border-color: #4aaaa5;
    height: 60px;
}

.navbar-right {
    padding: 5px 0px 0px 0px;
}

#footer {
    color: lightgray;
    font-size: 11px;
    padding: 20px 0px 0px 0px;
}

.col-md-12 {
    height: 70px;
}
#midheader {
    padding: 8px 0px 0px 8px;
    font-size: 16px;
    color:  lightskyblue;
    font-family: 'Cormorant Unicase', serif;
}
@media screen and (max-width: 630px) {
    .about {
        width: 100%;
    }
}