body {
    background-image: url("images/dust_scratches.png");
}

a {
    font-size: 13px;
    color: #777777;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#portfolio {
    padding: 0px 8px 0px 8px;
    margin: 0px 8px 0px 8px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 0px 1px 0px 1px;
}


.about {
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px; 
    background-color: #ffffff;
    width: 600px;
    padding: 10px;
}

.clearfix {
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px; 
    background-color: #ffffff;
    position: relative;
    padding: 10px;
    width: 463px;
    height: 620px;
    overflow: auto;
}

.contact {
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px; 
    background-color: #ffffff;
    position: relative;
    padding: 10px;
    width: 463px;
    height: 460px;
    overflow: auto;
}

#AboutMe {
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: #dddddd;
    font-size: 20px;
    color:  #4aaaa5;
    padding: 15px 0px 20px 0px;
    margin: 0px 10px 0px 10px;
}

.connect {
    border: 1px;
    border-style: solid;
    border-color: #dddddd;
    background-color: #ffffff;
    width: 182px;
    height: 130px;
    padding: 10px;
}

#connect {
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    padding: 10px 17px 12px 1px;
    margin: 0px 0px 11px 10px;
    float: left;
    font-size: 16px;
    color:  #4aaaa5;
    border-color: #dddddd;
}

.icons {
    float: left;
    padding: 2px;
}

#stack {
    float: left;
    position: relative;
    top: -5px;
    left: 5px;
    margin: 10px;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 14px;
    line-height: 150%;
    padding: 15px 10px 0px 10px;
}

h1, h2, h3 {
    font-family: 'Georgia', Times, "Times New Roman", serif;
}

h4 {
    font-family:'Georgia', Times, "Times New Roman", serif;
    color: white;
}
#image {
    margin: 20px 15px 5px 10px;
}


.images1 {
    float: left;
    position: relative;
    top: 20px;
    left: 10px;
}

.images2 {
    float: left;
    position: relative;
    top: 20px;
    left: 31px;
}

.images3 {
    float: left;
    position: relative;
    top: 50px;
    left: 10px;
}

.images4 {
    float: left;
    position: relative;
    top: 50px;
    left: 31px;
}

.images5 {
    float: left;
    position: relative;
    top: 80px;
    left: 10px;
}

.images6 {
    float: left;
    position: relative;
    top: 80px;
    left: 31px;
}


.words {
    position: absolute;
    top: 110px;
    background-color: #4aaaa5;
    color: white;
    padding: 10px 0px 10px 0px;
    width: 100%;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    text-align: center;
}

input {
    position: absolute;
    left: 20px;
    width: 89%;
    padding: 6px;

}
#mess {
    height: 150px;
    position: absolute;
    left: 20px;
    width: 91%;
    border-color: #777777;
    text-align: left;
}

.formA {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 14px;
    line-height: 50%;
    padding: 10px 10px 0px 10px;
}

.formB {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 14px;
    line-height: 50%;
    padding: 25px 10px 0px 10px;
}

.submit {
    background-color: #4aaaa5;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    top: 395px;
    padding: 10px 0px 10px 0px;
    width: 20%;
}

.navbar-default {
    background-color:#ffffff;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
}

.navbar-header {
    background-color:#4aaaa5;
    color: white;
    width: 230px;
    text-align: center;
    padding: 0px 3px 5px 3px;
    margin: 0px;
}

.navbar-fixed-bottom {
    background-color: #666666;
    text-align: center;
    border-style: solid;
    border-width: 4px 0px 0px 0px;
    border-color: #4aaaa5;
    height: 60px;
}

.navbar-right {
    padding: 5px 0px 0px 0px;
}

#footer {
    color: lightgray;
    font-size: 11px;
    padding: 20px 0px 0px 0px;
}

.col-md-12 {
    height: 70px;
}

@media screen and (max-width: 630px) {
    .about {
        width: 100%;
    }
}